---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Information from '../components/Information.astro'
import Video from '../components/Video.astro'
---

<Layout
	title='Gem and Jewelery'
	subtitle='Gem and Jewelery'
>
	<main class='bg-black'>
		<Hero />
	</main>

	<Information />

	<Video />
</Layout>

<style>
	main {
	}
</style>
