---
import Button from './Button.astro'
---

<section class='flex flex-col justify-center text-center w-[1400px] h-[30rem]'>
    <div class='flex flex-row items-center'>
        <div class='w-1/2 ml-48'>
            <h1 class='text-4xl text-[rgb(211,211,211)] mb-5 mt-20'>
                American Gem & Jewelery Association
            </h1>
            <p class='text-lg mb-14 text-[rgb(177,155,121)]'>
                Over 25 Years of Crafting Exceptional Jewelry – Quality and
                Expertise You Can Trust
            </p>
        </div>

        <div class='w-1/2 -mr-40 flex justify-end items-end'>
            <img
                src='/ring.png'
                alt='futuro video'
                class='h-96'
            />
        </div>
    </div>
</section>
