---
import Button from './Button.astro'
---

<div class='flex flex-col justify-center mt-20'>
    <h1 class='text-4xl text-white my-5 text-center'>About us</h1>

    <p class='text-white text-lg mb-3 text-center'>
        AG&JA is a company established by dedicated and passionate experts with
        more than 25 years of experience in the Gemology and Jewelry Industry.
    </p>
    <p class='text-white text-lg mb-3 text-center'>
        Our GIA Graduate Gemologist proceeds applying scientific based tests
        combined with trained optic inclusion recognition and classification.
    </p>
    <p class='text-white text-lg mb-3 text-center'>
        Our Accredited Jewelry Professional carefully identifies the metal used
        to manufacture the piece and values the craftsmanship employed in the
        whole process, from the designing to the final cleaning and polishing.
    </p>
    <p class='text-white text-lg mb-3 text-center'>
        This report provides an opinion by AG&JA, and neither AG&JA’s original
        client nor any purchaser of the article shall rely on this report as a
        guarantee or warranty. Opinions provided by third-party laboratories may
        vary depending on when, how and by whom the article was examined.
    </p>
    <p class='text-white text-lg mb-3 text-center'>
        Technologies employed in treatments, processing and synthesis are
        continuously evolving, and hence it may not always possible to determine
        the origin of the article using the then-latest available techniques.
    </p>
    <p class='text-white text-lg mb-3 text-center'>
        Neither AG&JA nor any of its employees shall, at any time, be liable for
        any difference of opinion or discrepancy which may result from the
        application of other assessment and/or identification methods, tools or
        techniques.
    </p>
    <p class='text-white text-lg mb-3 text-center'>
        AG&JA has provided this report for a small fee compared to actual and
        potential value of the subject article and has no financial interest in
        the sale/purchase of the item described in this report.
    </p>

    <div class='flex justify-center items-center my-20'>
        <Button
            text=' Quick view'
            textAfter='Shop now'
        />
    </div>
</div>
