---
import Button from './Button.astro'
---

<div class='flex flex-col justify-center items-center'>
    <h2 class='text-4xl text-white my-5 text-center'>Title</h2>
    <img
        width='640'
        height='360'
        src='https://img.freepik.com/fotos-premium/joyas-anillo-boda-plata-lujo-caros-diamantes_63106-6912.jpg?w=996'
    />
</div>
<div class='flex justify-center items-center my-20'>
    <Button
        text='Quick view'
        textAfter='Shop now'
    />
</div>
